/* apply a natural box layout model to all elements */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img { width: 100%;
}

.menu-container {
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  /*display: flex;
  justify-content: center;*/
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  /*display: flex;
  justify-content: space-between;*/
}

.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.text{
  height: 200px;
  width: 300px;
}
.profile{
  height: 300px;
  width: 200px;
  margin-left: 150px;
}
/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
