/* apply a natural box layout model to all elements */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
     width: 100%;
     border-radius: 50%;

}

i{
    color: #5995DA;

}

header{
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  height: 200px;
  width: auto;
  margin-bottom: 0;
  /*display: flex;
  justify-content: center;*/
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  /*display: flex;
  justify-content: space-between;*/
}

.about-me{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url('../images/tiny-squares/tiny-squares.png');

}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}


.text{
  height: 200px;
  width: 300px;
}
.profile{
  height: 300px;
  width: 200px;
  margin-left: 150px;
}

h1, h2{
    font-family: 'Nanum Gothic Coding', monospace;

}

h1 {
    text-align: center;
}
#name {
    font-size: 50px;
    color: white;
    text-align: center;

}

section {
    height: 350px;
    width: 350px;
    background-color: #5995DA;
    margin-left: 12px;
    margin-bottom: 12px;


}

.research i {
    color: white;
}
/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    i {
        font-size: 3em;

    }
    .about-me{
        flex-flow: row;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p {
        font-size: 20px;
    }

}
